@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&family=Nanum+Gothic&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Cabin", sans-serif;
    
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    /*background: rgb(170, 170, 231);*/
    justify-content: center;
    align-items: center;
    
}

.logo{
    flex: 20%;
    /*border: 1px solid black;*/
    text-align: center;
    font-size: 15px;

}
.logo h1{
    font-family:"Cabin", sans-serif;

}
.menu{
    flex: 50%;
    /*border: 1px solid black;*/
    text-align: left;
    padding: 40px;
}

.menu a{
    text-decoration: none;
    color: rgb(139, 135, 135);
    font-size: 100%;
    font-weight: bold;
    padding: 20px 16px;
}
.menu_botoes a{
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold; 
    background-color:rgb(124, 124, 240);
    border-radius: 20px;
}

.menu_botoes{
flex: 30%;
padding: 20px;
}

#botao{
    margin-left: 25px;
}

.menu_botoes :hover{
    background: blue;
}

.header{
   /* height: 600px;*/
   /* background: rgb(221, 97, 118);*/
    display: flex;
    flex-flow: row wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.back{
    background-image: url("../img/home-bg.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
} 

.headline{
    margin-left: 6%;
    flex: 18%;
    /*border: 1px solid black;*/
}

.headline h2{
    font-weight: 900;
    font-size: 15px;
    color: rgb(139, 135, 135);
}

.headline h2 span {
    color: blue;
}

.headline .title {
    font-size: 30px;
    color: black;
    text-align: left;
}

.img_headline{
    margin-right: 6%;
    flex: 44%;
   /* border: 1px solid black;*/
    text-align: center;
    justify-content: center;
    margin-top: -65px;
}

/*.headline p a {
    text-align: left;
    text-decoration: none;
}*/

.bots{
    display:flex; 
    flex: 100%;    
    /*border: 1px solid  black;*/
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.botum{
    color: blue;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 1px 1px 1px  gray; 
    text-decoration: none;   
}

.botdois{
    color: white;
    background:rgb(124, 124, 240);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;   
}

.botum:hover{
    background: blue;
    color: white;
}

.botdois:hover{
    background: blue;

}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}
.jobs{} 


.serviços{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
   /* border: 1px solid black;*/
    box-shadow: 1px 1px 20px 1px rgb(226, 226, 226);
    border-radius: 10px;
}

.card p{
    color: gray;
}
.card:hover{
    background: rgb(102, 102, 212);
    color: white;
}

.card:hover p,
.card:hover p a {
    color: white;
}

.jobs p:hover {
    color: white;
}

.card .area-icon{
    background-color: #f8f8f8;
    width: 50px;
    height: 50px;
    margin: 0px auto;
}

.card .area-icon.icon-1 {
background: #f8f8f8 url(../img/icon-1.png);
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
}

.card .area-icon.icon-2 {
    background: #f8f8f8 url(../img/icon-2.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.card .area-icon.icon-3 {
    background: #f8f8f8 url(../img/icon-3.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}





.creating{
height: 450px;
background: rgb(235, 233, 233);
display: flex;
flex-flow: row wrap;
}
   

.creating_headline {
    flex: 40%;
    margin-left: 2%;
    /*border: 1px solid rgb(214, 7, 7);*/
    text-align: left;
    margin-right: 5%;
}

.img_creating{
margin-right: 2%;
flex: 40%;
/*border: 1px solid black;*/
text-align: center;
margin-top: -1%;
}

.bots_creating{
    width: 550px;
    /*background-color: green;*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.bots_creating :hover{
    color: white;
    background-image: linear-gradient( to right, rgb(159, 159, 236), blue);   
}

.bots_creating a {
    text-decoration: none;
    color: gray;
    background: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 0px 0px 10px 0px;
    border-left: 2px   rgb(65, 65, 173) solid;
    /*display:flex; 
    flex: 100%; */   
    width: 250px;
    /*margin-top: 30px;*/
}





.Tech_Soul{
    height: 450px;
    /*background: rgb(233, 37, 70);*/
    display: flex;
    flex-flow: row wrap;  
    margin-top: 100px;
}

.img_Tech_Soul{
    margin-right: 50%;
    flex: 40%;
    /*border: 1px solid black;*/
    text-align: center;
    margin-top: -5%;
}

.Tech_Soul_headline {
    flex: 40%;
    margin-left: 55%;
    /*border: 1px solid rgb(214, 7, 7);*/
    text-align: left;
    margin-top: -30%;
}

.bots_Tech_Soul{
    width: 550px;
    /*background-color: green;*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.bots_Tech_Soul :hover{
    color: white;
    background-image: linear-gradient( to right, rgb(159, 159, 236), blue);   
}

.bots_Tech_Soul a {
    text-decoration: none;
    color: gray;
    background: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 0px 0px 10px 0px;
    border-left: 2px   rgb(65, 65, 173) solid;
    display:flex; 
   /* flex: 100%;    
    width: 45%;
    margin-top: 30px;*/
    width: 250px;
    box-shadow: 1px 1px 20px 1px rgb(206, 205, 205);
}





.faixa_azul{
   display: flex;
   height: 300px;
   /*border: 1px solid black;*/
   margin-top: 80px;
   margin-left: 0px;
   margin-right: 0px;
   background-image: linear-gradient( to right, rgb(117, 117, 243), rgb(40, 40, 99)); 
   opacity: 0.6;  
}
   
.faixa_azul_texto{
    display: flex;
    width: 100%;
    justify-content: space-between;    
}

.faixa_azul_texto h2{
    font-size: 50px;
    color: white;    
    text-align: center;
    justify-content: center;
    /*border: 1px solid black;*/
    margin-top: 50px;
}

.faixa_azul_texto h3{
    color: white;
    margin-top: -40px;
    width: 200px;
   /* border: 1px solid black;*/
}




.expert {
    height: 600px;
   /* background: rgb(245, 188, 198);
    border: 1px solid black;*/
    width: 90%;
}

.expert h2{
    display: inline;
    padding-left: 160px;
    padding-right: 150px;
    font-size: 35px;
    font-weight: 500;  
    /*border: 1px solid black;*/
    color: rgb(51, 50, 50);
}

.expert_cards {
    /*height: 300px;*/
    display: flex;
    margin-top: 60px;
   /* padding-right: 20%;*/
    /*border: 1px solid black;*/
   justify-content: space-evenly;

}

.expert_area{
    display: flex;
    flex-direction: column;
    
}

.expert_area .expert_img{
    width: 253px;
    height: 282px;
    border-radius: 4px;
}
.expert_area .expert_icons{
    display: flex;
    width: 253px;
    height: 282px;
    border-radius: 4px;
    background-color: rgba(49, 49, 240, 0.8);
    justify-content: space-evenly;
    align-items: center;
    margin-top: -282px;
    opacity: 0;
}

.expert_area:hover .expert_icons{
    opacity: 1;
}

.expert_area .expert_icons a {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expert_area h3 {
    color: rgb(32, 31, 31);
    /*border: 1px solid black;*/
    /*width: 20%;*/
    display: inline-flex;
    justify-content: center;
    /*margin-left: 40px;*/
    margin-bottom: 0px;
}

.expert_area h4 {
    color: rgb(49, 49, 240);
    /*border: 1px solid black;*/
    display: inline-flex;
    /*width: 20%;*/
    justify-content: center;
    margin-top: 8px;
}







.our_client{
    background: rgb(251, 248, 248);
    /*border: 1px solid black;*/
}

.our_client .our_client_titulo {
    font-size: 36px;
    margin-top: -20px; 
    color: rgb(49, 48, 48);
}

.our_client_cards{
margin-top: 50px;
    display: flex;
   /* border: 1px solid black;*/
   justify-content: space-between;

}

.our_client_card{
    width: 30%;
    background-color:white;
}

.our_client .estrela  {
margin-top: 20px;
}


.our_client .estrela img {
    height: 20px;
    /*border: 1px solid black;*/
}

.our_client_cards p,
.our_client_cards h2,
.our_client_cards h3{
color: rgb(49, 48, 48);
}

.our_client_cards p{
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    /*border: 1px solid black;*/
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    line-height: 28px;
}

.our_client_cards h2{
    font-size: 18px;
}
.our_client_cards h3{
    font-size: 15px;
    font-weight: 200;
    margin-top: -10px;
}

.faixa_azul2 {
    height: 350px;
    width: 100%;
    border: 1px solid black;
    margin-left: 0;
}

.faixa_azul2_img{
    height: 350px;
    width: 115%;
    margin-top: -68px;
    margin-left: -70px;
    margin-right: 0px;
}

.faixa_azul2 h2{
    color: white;
    margin-top: -280px;
    font-size: 35px;
    text-align: center;
    border: 3px solid red;
}

.faixa_azul2 p{
    color: white;
    border: 1px solid red;
    width: 60%;
    margin-left: 200px;
    margin-bottom: 60px;
}

.faixa_azul2_botao a {
    text-decoration: none;
    color: rgb(49, 49, 240);
    background-color: white;
    padding: 15px 35px;
    border-radius: 25px;  
}




.recent {
    height: 700px;
   /*background: rgb(228, 81, 108);*/
   /* border: 1px solid black;*/
    width: 90%; 
}

.recent h2{
    display: inline;
    padding-left: 160px;
    padding-right: 150px;
    font-size: 35px;
    font-weight: 500;  
    /*border: 1px solid black;*/
    color: rgb(88, 86, 86);
}

.recent_cards {
    /*height: 300px;*/
    display: flex;
    margin-top: 60px;
   /* padding-right: 20%;*/
   /* border: 1px solid black;*/
   justify-content: space-evenly;
}

.recent_area{
    display: flex;
    flex-direction: column;  
    width: 330px;
    height: 460px; 
    box-shadow: 1px 1px 10px 5px rgb(236, 235, 235);  
    border-radius: 6px;
}

.recent_area .recent_img{
    width: 330px;
    height: 220px;
    border-radius: 6px;
}

.recent_area h3 {
    color: rgb(51, 50, 50);
    /*border: 1px solid black;*/
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 10px 20px;
    font-weight: 400;
}

.recent_area h4 {
    color: rgb(88, 86, 86);
    /*border: 1px solid black;*/
    display: inline-flex;
    justify-content: center;
    margin-top: 8px;
    padding: 10px 40px;
    font-weight: 400;
}

.recent_botao a {
    text-decoration: none;
    color:white;
    background-color:rgb(49, 49, 240);
    opacity: 0.8;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 600;
}

.logotipos{
background-color: rgb(236, 235, 235); 
height: 210px;
width: 100%;
margin-left: -5px;
margin-top: 10px;
}

.logotipos_img {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}



.rodape1 {
    /*border: 1px solid black;*/
    height: 400px;
    width: 100%;
    margin-left: -5px;
    margin-top: -10px;
}

.rodape1_img{
    height: 400px;
    width: 111%;
    margin-top: -69px;
    margin-left: -63px;
}

.rodape1_cards {
    display:flex;
    color: white;
    margin-top: -320px;
}

.rodape1_cards h2{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    width: 90%;
    
}

.rodape1_cards .rodape1_card1{
    /*border: 1px solid green;*/
    width: 33%;
    text-align: left;
    font-weight: 600;
    margin-left: 7%;
}

.rodape1_cards .rodape1_card2{
    /*border: 1px solid green;*/
    width: 13%;
    text-align: left;
    font-weight: 600;
    margin-right: 2%;
}


.rodape1_cards .rodape1_card3{
    /*border: 1px solid green;*/
    width: 13%;
    text-align: left;
    font-weight: 600;
    margin-right: 2%;
}


.rodape1_cards .rodape1_card4{
    /*border: 1px solid green;*/
    width: 30%;
    text-align: left;
    font-weight: 600;
}

.rodape1 h2{
font-size: 22px;
}

.rodape1_card1 p{
padding-right: 15px; /* nao funciona*/
line-height: 25px;
}

.rodape1_card1 img {
    width: 20px;
    height: 20px;
}

.rodape1_card1 .rodape1_icons a {
    width: 40px;
    height: 40px;
    background-color: white;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 6px;
}

.rodape1_card2 ul{
    list-style: none;
    padding-left: 2px;
    line-height: 33px;
}

.rodape1_card3 ul{
    list-style: none;
    padding-left: 2px;
    line-height: 33px;
}

.rodape1_card4 ul{
    list-style: none;
    padding-left: 2px;
    line-height: 33px;
}

.rodape1_card4 .botao1 {
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 50px;
    color: gray;
    text-align: left; /*nao funciona*/
    
}

.rodape1_card4 .botao2 {
    background-color:rgb(49, 49, 240);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    color:white;
    margin-left: -4px;   
}

.rodape2 {
    background-color: rgb(7, 7, 39);
    width: 100%;
    margin-left: -5px;
    margin-top: -4px;
    height: 30px;
}

.rodape2 h3{
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.rodape2_texto1{
    text-align: left;
    margin-top: -10px;
}

.rodape2_texto2{
    text-align: right;
    margin-top: -30px;
}